mat-card {
    width: 800px;
    margin: auto;
}

mat-card-title {
    background-color:burlywood; 
    height: 40px;
    line-height: 40px; 
    border-radius: 8px;
}

mat-card-content {
    background-color:bisque; 
    border-radius: 8px;
    padding: 10px;
}
a, p {
    padding-left: 30px;
    
}

@media screen and  (max-width: 768px) {
    mat-card {
        width: 400px;
    }
    
}