

<mat-card>
    <mat-card-title >
        <a  routerLink="characters">Characters</a>   <a  routerLink="quiz">Quiz</a>
    </mat-card-title>
    <mat-card-content >
      
        <div *ngFor="let info of info$ | async">
            <p >{{info.synopsis}}</p>
        
            <div *ngFor="let creator of info.creators">
                <p>{{creator.name}}</p> <br>
                <a href={{creator.url}} target="_blank">{{creator.url}}</a> <br>
            </div>
           
        </div>

    </mat-card-content>

    
</mat-card>



