mat-card {
    background-color: antiquewhite;
    border: solid 4px wheat;
    width: 600px;
    min-height: 200px;
    margin: auto;
    border-radius: 8px;
    margin-left: 10px;
    @media screen and (max-width: 768px) {
    
            width: 407px;
            margin: auto;
            top: 10px;
    }
}
img {
    width: 40px;
    @media screen and (max-width: 768px){
        width: 30px;
    }
}

