mat-list {
    background-color: antiquewhite;
    border: solid 4px wheat;
    border-radius: 8px;
    height: 200px;
    width: 600px;
    margin: auto;
    overflow-y: auto;
    
}
mat-list-item {
    border-bottom: solid wheat 8px;
}

@media screen and (max-width: 768px) {
mat-list {
    width: 400px;
}

}