mat-list {
    background-color: antiquewhite;
    border: solid 4px wheat;
    border-radius: 8px;
    height: 200px;
    width: 180px;
    overflow-y: scroll;
    
    
}
mat-list-item {
    border-bottom: solid wheat 2px;;
}