mat-list {
    background-color: antiquewhite;
    border: solid 4px wheat;
    border-radius: 8px;
    height: 225px;
    width: 600px;
    margin: auto;
    overflow-y: auto;
    @media screen and (max-width: 768px) {
            margin: auto;
            width: 440px;
        
}
mat-list-item {
    border-bottom: solid wheat 8px;
}



}