<div class="container">

    <mat-card>
        <mat-card-title>
            Please Select an answer from following options.  <br>
                {{currentQuiz.question}}
        </mat-card-title>
    <mat-card-content>
    
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button *ngFor="let c of currentQuiz.possibleAnswers">{{c}}</mat-radio-button>
            <br>
           
          </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>Next Question</button>
    </mat-card-actions>
    
    </mat-card>
</div>

<div>
    
</div>

