.container {

    display: flex;
    align-items: center;
    justify-content: center;
}

mat-radio-button{
    margin: 10px;
    
}

mat-card {
    background-color: antiquewhite;
    border: solid 4px wheat;
    border-radius: 8px;
    top: 60px;
}